.container-login {
    background-image: url('../images/background/main-bg.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: red;
}